.reservation_events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70dvh;
}

.reservation_events form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.calendar_wrapper {
  height: 100%;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 30%;
  max-width: fit-content;
}

.inputs_wrapper input,
.inputs_wrapper textarea {
  padding: 8px;
  font-family: inherit;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;
  resize: none;
}

.time_selection label {
  width: 40%;
}

.time_selection input {
  width: 100%;
  padding: 8px;
  font-family: inherit;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.time_selection {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.inputs_wrapper input[type="submit"] {
  width: 100%;
  cursor: pointer;
}