.contact {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.email,
.instagram {
  display: flex;
  align-items: center;
}

.email img {
  width: 24px;
  height: 24px;
}

.instagram img {
  width: 24px;
  height: 24px;
}

.info {
  padding: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px;
  }
}