.DescriptionClient {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.nav {
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 20px;
  background-color: var(--second-color);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.1);
}

.nav__title {
  text-align: center;
  margin-bottom: 1rem;
}

.nav__list>li {
  list-style: none;
}

.nav__item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: var(--dark-color);
  color: var(--second-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  transition: color .4s, background-color .4s, border-color .4s;
}

.nav__item:hover {
  color: var(--text-color);
  background-color: #0001;
}

#navDescriptions {
  display: none;
}

#iconDescriptions {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url("/assets/close.svg");
  background-size: cover;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#iconDescriptionsOpen {
  display: none;
  width: 25px;
  height: 25px;
  background-color: var(--second-color);
  background-image: url("/assets/open.svg");
  background-size: cover;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

#iconDescriptionsOpen::after {
  content: "";
  display: none;
  width: 40px;
  height: 50px;
  background-color: var(--second-color);
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {

  .nav {
    position: absolute;
    right: 0;
    height: 99%;
  }

  #iconDescriptions {
    display: block;
  }

  .nav:has(#navDescriptions:checked) {
    display: none;
  }

  .page:has(#navDescriptions:checked) #iconDescriptionsOpen,
  .page:has(#navDescriptions:checked) #iconDescriptionsOpen::after {
    display: block;
  }
}