footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100dvw;
  min-height: 10dvh;
  background-color: var(--second-color);
}

@media screen and (max-width: 650px) {
  footer {
    justify-content: center;
  }

}