.ServiceCard__wrapper {
  position: relative;
  color: inherit;
  border-radius: 10px;
  gap: 5dvw;
  display: flex;
  flex-direction: row;
}

.ServiceCard {
  display: flex;
  width: 30dvh;
  height: 30dvh;
  background-size: cover;
  filter: blur(1px);
  border-radius: 10px;
  box-shadow: 6px 9px 0px color-mix(in srgb, var(--second-color) 80%, #000 20%);
  transition: all 0.3s ease;
}

.ServiceCard__wrapper:hover .ServiceCard {
  filter: blur(0.5px);
  box-shadow: 6px 9px 0px color-mix(in srgb, var(--second-color) 50%, #000 50%);
}

.ServiceCard__wrapper>.title {
  position: absolute;
  width: 200px;
  height: 50px;
  text-align: center;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  text-transform: capitalize;
  text-decoration: none;
}