---
import Layout from "@layouts/Layout.astro";

import "./walks.css";
import { productsWalks } from "./productsWalks";
---

<Layout>
  <main class="walksPage">
    {
      productsWalks.map((p) => {
        return (
          <a
            href={`/products/service/walks/descriptions/${p}`}
            style={{ "background-image": `url('/service/${p}.png')` }}
            class="walks__item"
          >
            <h2>{p}</h2>
          </a>
        );
      })
    }
  </main>
</Layout>
