@import "tailwindcss";

:root {
  --dark-color: #118b50;
  --light: #fbf6e9;
  --main-color: #5db996;
  --second-color: #e3f0af;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  max-width: 100dvw;
  background-color: var(--light);
  font-family: Metamorphous;
  display: flex;
  flex-direction: column;
}

.space {
  width: 100dvw;
  height: 15dvh;
}

.page {
  flex: 1;
  display: flex;
}

h1 {
  font-family: Martel;
}

h2 {
  font-family: Quicksand;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}