@import "tailwindcss";

:root {
  --dark-color: #A59D84;
  --light: #ECEBDE;
  --main-color: #C1BAA1;
  --second-color: #D7D3BF;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  max-width: 100dvw;
  background-color: var(--light);
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
}

.space {
  width: 100dvw;
  height: 15dvh;
}

.page {
  flex: 1;
  display: flex;
}

h2 {
  font-size: x-large;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}